<div id="site_content">
	  <div id="content">

<h2 class="page-header">    To Crete A Portal Enter:   </h2>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

          <p>
              Testing!! <br>
              {{user._id}}
          </p>


<form method="post" action="/users/createPortal">

    <div class="form-group">
        <label> Portal Name: </label>
        <input type="text" class="form-control" name="pName" placeholder="Portal Name">
    </div>

    <div class="form-group">
        <label> Portal Password: </label>
        <input type="password" class="form-control" name="pPassword" placeholder="Portal Password">
    </div>

    <div class="form-group">
        <label> Confirm Portal Password: </label>
        <input type="password" class="form-control" name="cpPassword" placeholder="Confirm Portal Password">
    </div>

    <div class="form-group">
        <label> Expire Time(Time-To-Live): </label>
        <input type="text" class="form-control" name="hours" placeholder="Enter Number Of Hours">
        <input type="text" class="form-control" name="mins" placeholder="Enter Minutes">
        <input type="text" class="form-control" name="secs" placeholder="Enter Seconds">
    </div>

    <div class="form-group">
        <label> Message for the User: </label>
        <input type="text" class="form-control" name="message" placeholder="Enter the message">
    </div>

    <div class="form-group">
        <label> Portal Open Count: </label>
        <input type="text" class="form-control" name="count" placeholder="Enter the portal count">
    </div>

    <div class="form-group">
        <input type="hidden" class="form-control" name="owner_id" value="{{user._id}}">
    </div>

    <button type="submit" class="btn btn-primary btn-lg round"> Submit </button>

</form>
</div>
</div>