<h2>
    <p> Welcome to the dashboard, {{user.UserName}} </p>
</h2>

<form method="post" action="/users/twoButton">

    <div class="form-group" id="twoButton" name="twoButton">
            <button name="createPortal">Create Portal</button>
            <button name="showPortal">Show Portals</button>
    </div>

</form>

