<div id="site_content">
    <div id="content">

        <h1>
            Welcome to the dashboard, {{user.UserName}} </h1>
        <form method="post" action="/users/twoButton">

            <div class="form-group" id="twoButton" name="twoButton">
                <li>  <button name="createPortal" class="btn btn-primary btn-lg round">Create A New Portal</button> </li>
                <br>
                <br>
                <li> <button name="showPortal" class="btn btn-primary btn-lg round">Show All Available Portals</button> </li>
                <br>

            </div>

        </form>
        <li> <button name="checkPortals" id="checkPortals" class="btn btn-primary btn-lg round">Show Your Portal Information</button> </li>

    </div>
    <br>
    <br>

    <div class="DisplayYourPortals" id="statusContainer">

    </div>



</div>

<script type="text/javascript">

    var statusContainer = document.getElementById("statusContainer");
    var checkPortals = document.getElementById("checkPortals");

    var isVisible;
    var isHidden;
    var msMinute = 60*1000, msDay = 60*60*24*1000;

    var idCheckPortals = "#checkPortals";
    var classDisplayYourPortals = ".DisplayYourPortals";

    function populateDIV(portals) {
        statusContainer.innerHTML = "";

        var htmlString = "<ul>";
        for (var i = 0; i < portals.length; i++) {
            console.log("KEY!!");
            console.log(portals[i]);

            var a = new Date(portals[i].expireAt);
            var b = new Date();

//            console.log(Math.floor(((a - b) % msDay) / msMinute) + ' full minutes between');
            var finalDate = Math.floor(((a - b) % msDay) / msMinute) + ' full minutes <u>LEFT</u> to expire';
            console.log(finalDate);


            htmlString += "<li> Portal Name: " + portals[i].PortalName + "</li>";
            htmlString += "<li>";
            htmlString += "<ul>";
            htmlString += "<li> Count : " + portals[i].Count + ' Portal Open Counts <u>LEFT</u>' + "</li>";
            htmlString += "<li> TTL : " + finalDate + "</li>";
            htmlString += "<li>";
            htmlString += "<ul>";

            var finalViews = portals[i].Viewed.reduce(function (viewSet, view) {
                viewSet = viewSet || {};
                if (viewSet.hasOwnProperty(view.id)){
                    viewSet[view.id].Count++;
                }else {
                    viewSet[view.id] = {
                        "Count": parseInt(1),
                        "UserName": view.userName,
                        "EmailID": view.emailID
                    };
                }
                return viewSet;
            }, {});
            console.log("Output of reduce");
            for (var key in finalViews) {
                if (finalViews.hasOwnProperty(key)) {
                    console.log(key + " -> " + finalViews[key].Count, " " +finalViews[key].EmailID,  " ", finalViews[key].UserName);
                }
            }
            console.log("Output of reduce");

            htmlString += "<li> Visited List: </li>";
            for (key in finalViews) {
                if (finalViews.hasOwnProperty(key)) {
                    htmlString += "<li>";
                    htmlString += "<ul>";

                    htmlString += "<li> Username : " +finalViews[key].UserName +   "</li>";
                    htmlString += "<li> Email: " +finalViews[key].EmailID+   "</li>";
                    htmlString += "<li> Number of times Visited: : " +finalViews[key].Count+   "</li>";

                    htmlString += "</ul>";
                    htmlString += "</li>";
                }
            }
            htmlString += "</ul>";
            htmlString += "</li>";
            htmlString += "</ul>";
            htmlString += "</li>";
        }
        htmlString += "</ul>";

        statusContainer.insertAdjacentHTML('beforeend', htmlString);
    }

    $(document).ready(function () {

        $(classDisplayYourPortals).hide();
        $(idCheckPortals).on('click', function (
        ) {
            isVisible = $(classDisplayYourPortals).is( ":visible" );
            isHidden = $( classDisplayYourPortals).is( ":hidden" );
            $(classDisplayYourPortals).toggle('show');

            if (isHidden) {
                checkPortals.innerHTML = "Hide Information";
            }
            if (isVisible){
                checkPortals.innerHTML = "Show Your Portal Information";
            }

            var current_user_id;
            current_user_id = "{{user._id}}";

            $.ajax({
                type: 'POST',
                data: current_user_id ,
                dataType:'json',
                url: '/users/generatePortalsByID'
            }).done( function (portals) {
                console.log("Success Method");
                populateDIV(portals);

            }).fail(function (error) {
                console.log("Error Method");
                console.log(error);

            })

        });


    });

</script>