<div id="site_content">
	  <div id="content">

   <h1>
    Welcome to the dashboard, {{user.UserName}} </h1>

<form method="post" action="/users/twoButton">

    <div class="form-group" id="twoButton" name="twoButton">
            <button name="createPortal" class="btn btn-primary btn-lg round">Create Portal</button>
		 
            <button name="showPortal" class="btn btn-primary btn-lg round">Show Portals</button>
			

    </div>

</form>
</div>
</div>