<div id="site_content">
    <div id="content">

        <h1>
            Welcome to the dashboard, {{user.UserName}} </h1>

        <form method="post" action="/users/twoButton">

            <div class="form-group" id="twoButton" name="twoButton">
                <li>  <button name="createPortal" class="btn btn-primary btn-lg round">Create A New Portal</button> </li>
                <br>
                <br>
                <li> <button name="showPortal" class="btn btn-primary btn-lg round">Show All Available Portals</button> </li>
                <br>

            </div>

        </form>
        <li> <button name="checkPortals" id="checkPortals" class="btn btn-primary btn-lg round">Check Your Portals</button> </li>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        $("#checkPortals").on('click', function (
        ) {
            console.log("hey");
        });

    });


</script>